# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
env/
.venv/

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
media/
staticfiles/
db.sqlite3
*.env

# VS Code / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node / Next.js
node_modules/
.next/
out/
dist/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
package-lock.json
yarn.lock

# Mac / OS
.DS_Store
